// css classes which aren't linked to a particular part of the system but rather
// can be reused anywhere
@import 'variables';

.hover-raise {
  transition: all 200ms ease;
  box-shadow: 0 4px 6px rgba(0,0,0,0.2), 0 1px 3px rgba(0,0,0,0.2);
  &:hover {
    transform: translateY(-1px);
    box-shadow: 0 7px 14px rgba(0,0,0,0.3), 0 3px 6px rgba(0,0,0,0.3);
  }
}

a:hover {
  text-decoration: none;
}

.larger {
  font-size: 1.3em;
}

.no-dec {
  text-decoration: none !important;
}

.has-error {
  color: theme-color("danger");
}

.pad-less {
  label {
    margin-bottom: 0.1rem;
  }
}

label {
  margin-bottom: 0.1rem;
}

.cursor-pointer {
  cursor: pointer !important;
}

.width-100p {
  width: 100%;
}

.display-none {
  display: none;
}

.display-block {
  display: block;
}
