// css classes which aren't linked to a particular part of the system but rather
// can be reused anywhere
@import 'variables';

.hover-raise {
  transition: all 200ms ease;
  box-shadow: 0 4px 6px rgba(0,0,0,0.2), 0 1px 3px rgba(0,0,0,0.2);
  &:hover {
    transform: translateY(-1px);
    box-shadow: 0 7px 14px rgba(0,0,0,0.3), 0 3px 6px rgba(0,0,0,0.3);
  }
}

a:hover {
  text-decoration: none;
}

.larger {
  font-size: 1.3em;
}

.very-large {
  font-size: 2rem;
}

.no-dec {
  text-decoration: none !important;
}

.has-error {
  color: theme-color("danger");
}

.pad-less {
  label {
    margin-bottom: 0.1rem;
  }
}

label {
  margin-bottom: 0.1rem;
}

.cursor-pointer {
  cursor: pointer !important;
}

.width-100p {
  width: 100%;
}

.font-small {
  font-size: $small-font-size;
}

.btn-divider {
  .btn {
    border-left: 1px solid #777;
    margin-left: 0 !important;
  }
  .btn:first-child {
    border-left: none;
  }
}

.border-bottom-2 {
  border-bottom: 2px solid $border-color;
}

.hide-help-text {
  .form-text {
    display: none;
  }
}

.hide-form-label {
  .form-group > label {
    display: none;
  }
}

.invisible {
  visibility: hidden;
}

.top-70 {
  top: 70px;
}

.font-monospace {
  font-family: $font-family-monospace;
}

.aspectRatio_16_9_Style {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
}

.aspectRatio_fill_Style {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
