@import 'variables';

body {
  padding-top: 56px;
  background: $body-back;
  overflow-y: scroll;
}

// .grecaptcha-badge {
//   bottom: 120px !important;
// }

#root {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 56px);
}

.navbar {
  flex-shrink: 0;
  font-size: 1.2rem;
  font-family: 'Source Sans Pro', sans-serif;
}

.navbar-brand img {
  height: 75px;
}

h1, h2, h3 {
  font-family: 'Source Sans Pro', sans-serif;
}

$container-x-margin: 20px;
main.container {
  background: $main-back;
  min-height: 500px;
  padding: 30px $container-x-margin;
  box-sizing: border-box;
  margin-bottom: 3rem;
}

hr.full-width {
  margin-left: -$container-x-margin;
  margin-right: -$container-x-margin;
}

.pad-footer {
  flex: 1 0 auto;
}

.footer {
  background-color: $footer-colour;
  padding: 1rem 0 1rem;
  color: #333;
  min-height: 120px;
  .custom-footer a {
    color: #ff6443;
  }
}

.extra-menu {
  top: 100px;
  background: $primary;
  overflow: hidden;
  .container {
    display: flex;
    justify-content: space-between;
  }
  height: 0;
  opacity: 0;
  transition: all 500ms ease;
  &.show {
    height: 40px;
    opacity: 1;
  }
  .item {
    text-decoration: none;
    display: inline-block;
    margin: 5px 0.5rem;
    padding: 2px 15px;
    color: white;
  }
  a {
    background-image: linear-gradient(#222, #444);
    border-radius: 15px;
    box-shadow: 0 1px 0 rgba(255,255,255,0.2), inset 0 1px 2px rgba(0,0,0,0.2);
    color: #b3e5fc;
  }
}

#background-image {
  background: #A2AFB8 no-repeat;
  background-size: 1920px auto;
  background-position: center;
  width: 100%;
  height: 80vh;
  max-height: 500px;
  position: absolute;
  z-index: -1;
}

@media (min-width: map-get($container-max-widths, 'sm')) {
  main.container {
    margin-top: 400px;
    box-shadow: 0 16px 24px 2px rgba(0,0,0,.14), 0 6px 30px 5px rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
    border-radius: 6px;
    margin-bottom: 6rem;
  }
}

.card-grid {
  a {
    color: $text-colour;
    &:hover {
      text-decoration: none !important;
      .card {
        transform: translateY(-1px);
        border: 1px solid rgba(0,0,0,0.3);
        box-shadow: 0 7px 14px rgba(0,0,0,0.3), 0 3px 6px rgba(0,0,0,0.3);
      }
    }
  }
  .box-container {
    margin-bottom: 1rem;
  }
  .card {
    transition: all 200ms ease;
    margin-bottom: 1rem;
    height: 100%;
  }
  .card-body {
    display: flex;
    flex-direction: column;
  }
  .card-text {
    flex-grow: 1;
  }
  .img-thumbnail {
    width: 100px;
    height: 100px;
    margin-top: -100px;
    margin-right: 0;
    margin-left: auto;
  }
}

#google-map {
  width: 100%;
  border-radius: 4px;
}

.login {
  iframe {
    width: 100%;
    height: 220px;
  }
}

.password-reset {
  iframe {
    width: 100%;
    height: 300px;
  }
}

#google-recaptcha {
  height: 78px;
}

.item-detail {
  display: flex;
  justify-content: left;
  .key {
    color: #888;
    min-width: 200px;
  }
  &.wide {
    margin-top: 0.5rem;
    display: block;
    .key {
      font-size: 1.2rem;
      margin-bottom: 0.5rem;
    }
  }
}

textarea {
  height: 120px;
  &[name="long_description"], &[name="body"] {
    height: 300px;
  }
  &[name="short_description"] {
    height: 65px;
  }
}

.highlight-required {
  .form-group label.required {
    font-weight: 700;
    &::after {
      content: "\22C6";
      color: #c00;
      font-size: 120%;
      margin-left: 2px;
      line-height: 18px;
    }
  }
}

.form-error {
  color: $form-feedback-invalid-color;
  height: 23px;
}

.stripe-error {
  border: 1px solid $form-feedback-invalid-color !important;
}

#stripe-form {
  min-height: 100px;
}

.processing-overlay {
  z-index: 1000;
  position: fixed;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

$item-size: 220px;
.dropzone {
  width: 100%;
  min-height: 200px;
  border-radius: 4px;
  border: 1px dashed black;
  padding: 10px;
  color: #444;
  text-align: center;
  .previews {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .file-preview {
    padding: 5px;
    width: $item-size;
    font-size: 13px;
    img {
      width: $item-size;
      max-height: $item-size;
      object-fit: cover;
    }
  }
}

.react-datepicker-wrapper input {
  width: 200px;
  border-radius: $border-radius 0 0 $border-radius;
  font-size: 0.9rem;
}
.duration-input {
  font-size: 0.9rem;
}
@media (min-width: map-get($container-max-widths, 'sm')) {
  .react-datepicker-wrapper input {
    width: 250px;
    font-size: 1rem;
  }
  .duration-input {
    font-size: 1rem;
  }
}

ul.react-datepicker__time-list {
  padding: 0;
  overflow-x: hidden;
}
.react-datepicker__header {
  height: 55px;
  background-color: #f7f7f7 !important;
}
.react-datepicker {
  border: 1px solid rgba(0,0,0,.2) !important;
  div {
    border: none !important;
  }
}
.react-datepicker__time-container {
  width: 110px !important;
}
.react-datepicker__time-box {
  width: 100px !important;
}
.react-datepicker__navigation--next--with-time:not(.react-datepicker__navigation--next--with-today-button) {
  right: 110px !important;
}
li.react-datepicker__time-list-item {
  padding: 5.5px 0 !important;  // 5.5px is required to get the scroll position right when opening the popover
  width: 110px !important;
}
.react-datepicker-popper {
  z-index: 99;
}

// TODO replace with .small?
.small-link {
  padding: 0;
  font-size: 0.8em;
}

.multiple-items {
  > div {
    border-bottom: 2px solid $border-color;
  }
  > :last-child {
    border-bottom: none;
  }
  h5, label {
    margin-bottom: 0.1rem;
  }
  .form-text {
    margin-top: 0.1rem;
  }
}

.rotate {
  display: inline-block;
  transition: transform 0.5s;
}

.StripeElement {
  display: block;
  border-radius: $border-radius;
  border: $border-width solid $border-color;
  &.StripeElement--invalid {
    border: $border-width solid $form-feedback-invalid-color;
  }
  // &.StripeElement--complete {
  //   border: $border-width solid $form-feedback-valid-color;
  // }
}

$waiting-size: 60px;
$waiting-time: 1s;
.wait-circle {
  margin: 0 auto;
  width: $waiting-size;
  height: $waiting-size;
  position: relative;
  > div {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    &:before {
      content: '';
      display: block;
      margin: 0 auto;
      width: 10%;
      height: 10%;
      background-color: #333;
      border-radius: 100%;
      animation: waiting-bounce $waiting-time infinite ease-in-out both;
    }
  }
  @for $i from 1 through 11 {
    .el-#{$i} {
      transform: rotate($i * 30deg);
      &:before {
        animation-delay: ($waiting-time / 12 * $i);
      }
    }
  }
}
@keyframes waiting-bounce {
  0%, 80%, 100% {
    transform: scale(0);
  } 40% {
    transform: scale(1);
  }
}

.select-image {
  transition: all 200ms ease;
  img {
    transition: filter 200ms ease;
    filter: grayscale(50%) contrast(80%);
  }
  &:hover {
    background: darken($primary, 10%) !important;
    img {
      filter: grayscale(0) contrast(100%);
    }
  }
}

.dashboard-markdown {
  border-left: 8px solid $gray-200;
  margin-left: 16px;
  padding-left: 16px;
}

.markdown {
  p:last-child {
    margin-bottom: 0;
  }
}

.editor {
  border: 1px solid $input-border-color;
  border-radius: $input-border-radius;

  .btn-link {
    color: $gray-500;
    &:hover {
      color: $gray-600;
    }
    &:disabled {
      color: $gray-200;
    }
    &.highlight {
      color: black;
    }
  }
  .link-preview {
    color: $link-color;
  }
  .editor-wrapper {
    cursor: text;
    border-top: 1px solid $input-border-color;
  }
  .editor-scroll {
    overflow: auto;
    height: 300px;
  }
  &.invalid {
    border: 1px solid $form-feedback-invalid-color;
    .editor-wrapper {
      border-top: 1px solid $form-feedback-invalid-color;
    }
  }
  h1 {
    margin-top: 0.9rem;
    margin-bottom: 0.3rem;
  }
  h2 {
    margin-top: 0.6rem;
    margin-bottom: 0.1rem;
  }
  textarea {
    width: 100%;
    height: calc(100% - 10px);
    border: none;
    font-family: $font-family-monospace;
  }
}

.markdown, .editor {
  blockquote {
    border-left: 4px solid $gray-300;
    padding: 4px 8px;
    color: $gray-700;
  }
}

.iframe-container {
  .loading {
    position: relative;
    top: 100px;
    height: 25px;
    width: 80px;
    margin: 0 auto;
  }
  iframe {
    position: relative;
    top: -25px;
  }
}

table.dashboard {
  td {
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.event-about {
  .img-thumbnail {
    width: 150px;
  }

  img {
    max-width: 100%;
  }

  .event-video {
    max-width: 680px;
  }
}
