// overriding bs variables;
$primary: #3987da;
$secondary: #ced4da;
$form-group-margin-bottom: 0;
$grid-gutter-width: 1rem;
$h1-font-size: 1.5rem;
$light: #F1F5F9;

// include bs variables here so they can be used in the theme.
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
