// overriding bs variables;
$primary: #3987da;
$secondary: #ced4da;
$form-group-margin-bottom: 0.5rem;
$grid-gutter-width: 1rem;
$h1-font-size: 1.5rem;
$h2-font-size: 1.3rem;
$light: #F1F5F9;
$body-back: #e5e5e5;

// include bs variables here so they can be used in the theme.
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
$text-colour: $gray-900;
