aiobotocore==0.9.4
aiodns==1.1.1
aiohttp==3.4.4
aiohttp-session==2.7.0
arq==0.14
asyncpg==0.18.1
async-timeout==3.0.1
bcrypt==3.1.4
buildpg==0.0.2
cchardet==2.1.4
chevron==0.12.2
cryptography==2.3.1
google-auth==1.5.1
libsass==0.15.1
misaka==2.1.0
pydantic[email]==0.13.1
pytz==2018.5
Pillow==5.3.0
raven==6.9.0
raven-aiohttp==0.7.0
uvloop==0.11.2
